main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    border: 8px solid var(--bgColor);
    /* box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.5), inset -5px -5px 15px grey, inset 5px 5px 15px black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    overflow: hidden;
    transition: 0.5s;

}

.mainContent {
    position: relative;
    width: 85%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: var(--bgColor);
    transition: 1s;
    border-radius: 30px;
}

/* full page mainContent css */
.mainContent.full {
    position: relative;
    width: 95%;
    transition: 1s;
}

section {
    position: absolute;
    padding: 0 30px 0 30px;
    height: auto;
    overflow: hidden;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    bottom: 0;
    right: 0;
    top: 100vh;
    transition: ease-in-out 0.75s;
    transform-origin:center;

}

section::-webkit-scrollbar{
    display: none; 
}

section.active{
    opacity: 1;
    top:100px;
}